<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Flask App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Welcome to My App</h1>
    <nav>
        <a href="{{ url_for('my_view.index')}}">Home</a>
        <a href="{{ url_for('my_view.page2')}}">Page 2</a>
        <a href="{{ url_for('my_view.page3')}}">Learn my Name</a>
    </nav>

    {# Hello this is a sentence #}
    {% block content %}
    
    {% endblock %}

<footer>
    This Flask App is copyright to me 2024
</footer>

</body>
</html>
