<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Band Flask App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <nav class="spaced-even-row">
        <a href="{{ url_for('my_view.index')}}">Home</a>
        <p>|</p>
        <a href="{{ url_for('my_view.page2')}}">Band Listing</a>
        <p>|</p>
        <a href="{{ url_for('my_view.page3')}}">Enter a Band</a>
    </nav>

<main class="reduced centred">
    {% block content %}

    {% endblock %}
</main>
    <footer class="light-text">
        <p>Find this repo at: <a href="https://github.com/uglyfish1991/band_app" target="_blank">My GitHub Account</a>
        </p>
        <hr>
        <p>This is a learning tool and should not be used for production. </p>
    </footer>

</body>

</html>