{% extends 'base.html' %}

{% block content %}
    <p>Hello! This is a test page.</p>
    <form action="/page3" method="post">
        <input type="text" name="added_song" placeholder="Add a song!">
        <input type="text" name="added_album" placeholder="Add the album!">
        <input type="text" name="added_artist" placeholder="Add the artist!">
        <select name="added_rating">
            <option value="1">1 *</option>
            <option value="2">2 **</option>
            <option value="3">3 ***</option>
            <option value="4">4 ****</option>
            <option value="5">5 *****</option>
        </select>
        <input type="submit">
    </form>
{% endblock %}
